@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

@font-face {
  font-family: "LCD";   /*Can be any text*/
  src: local("LCD"),
    url("./assets/lcd.ttf") format("truetype");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.global-container{
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  background-color: #4190bc;
}

.question-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.game-container{
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: leaves 1s ease-in-out infinite alternate;
  -webkit-animation: leaves 1s ease-in-out infinite alternate;
}

.audio-container{
  display: flex;
  gap: 10px;
}

@keyframes leaves {
  0% {
      transform: scale(1.0);
  }
  100% {
      transform: scale(1.2);
  }
}

.left-circle-large{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 200px;
  height: 400px;
  border-top-left-radius: 400px;
  border-bottom-left-radius: 400px;
  background-color: #d4ae16;
  border: 2px solid black;
  box-shadow: 0px 0px 10px 0px #196086;
}

.left-circle-medium{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 150px;
  height: 300px;
  border-top-left-radius: 300px;
  border-bottom-left-radius: 300px;
  background-color: #aa8d18;
  border: 2px solid black;
  border-right-width: 0px;
  box-shadow: -10px 0px 10px -10px #aa8d18;
}

.left-circle-small{
  width: 100px;
  height: 200px;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  background-color: #806613;
  border: 2px solid black;
  border-right-width: 0px;
  box-shadow: -10px 0px 10px -10px #806613;
}

.right-circle-large{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 200px;
  height: 400px;
  border-top-right-radius: 400px;
  border-bottom-right-radius: 400px;
  background-color: #d4ae16;
  border: 2px solid black;
  box-shadow: 0px 0px 10px 0px #196086;
}

.right-circle-medium{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 150px;
  height: 300px;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
  background-color: #aa8d18;
  border: 2px solid black;
  border-left-width: 0px;
  box-shadow: 10px 0px 10px -10px #aa8d18;
}

.right-circle-small{
  width: 100px;
  height: 200px;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  background-color: #806613;
  border: 2px solid black;
  border-left-width: 0px;
  box-shadow: 10px 0px 10px -10px #806613;
}

.title{
  font-family: "Poller One", sans-serif;
  font-weight: 100;
  line-height: 1;
  color: #d4ae16;
  margin-bottom: 100px;
  font-size: 65px;
  text-shadow: 0px 0px 10px #196086;
  
  .title-span{
    font-size: 80px;
  }
}

.score{
  font-size: 150px;
  font-family: "LCD", "Helvetica Neue";
  background-color: black;
  color: #d4ae16;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px #196086;
}

.question{
  background-color: #d4ae16;
  color: black;
  border: 2px solid black;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px #196086;
}

.hidden-question{
  color: transparent;
}

.answers{
  margin: 0 auto;
  margin-bottom: 20px;
  width: 400px;
  list-style-type: none;
  box-shadow: 0px 0px 10px 0px #196086;
  
  .tile {
    position: relative;
    height: 60px;
    width: 100%;
    border: 2px solid black;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .tile-front, .tile-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tile-front {
    background-color: #64b1db;
    
    .tile-front-number {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 100%;
      border-left: 2px solid black;
      border-right: 2px solid black;
      background-color: #196086;
      
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #d4ae16;
        border: 2px solid black;
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
    }
  }
  
  .tile-back {
    display: flex;
    align-items: center;
    background-color: black;
    color: #d4ae16;
    text-transform: uppercase;
    font-weight: bold;
    transform: rotateX(180deg);
    
    border: 2px solid #64b1db;
    
    .answer-text {
      width: 80%;
      color: #d4ae16;
      font-size: 25px;
      line-height: 1;
    }
    
    .answer-points {
      width: 20%;
      color: #d4ae16;
      font-size: 30px;
    }
  }
  
  .host-answer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 10px;
    background-color: black;
    color: #d4ae16;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #64b1db;
  }
  
  .rotateTile {
    transform: rotateX(180deg);
  }
}

.buttons{
  display: flex;
  gap: 10px;
  margin: 0 auto;
  width: 400px;
}

.button{
  padding: 8px;
  border-radius: 5px;
  background-color: #d4ae16;
  cursor: pointer;
  border: none;
  font-weight: bold;
  align-self: flex-start;
  font-size: 18px;
  box-shadow: 3px 3px 0px 0 #806613;

  &:active{
    box-shadow: none;
    transform: translate(3px, 3px);
  }
}

.mtopauto{
  margin-top: auto;
  margin-left: auto;
}

.wrong-guesses{
  display: flex;
  gap: 10px;
  margin: 0 auto;
  width: 400px;
  padding: 10px;
  height: 150px;
  background-color: black;
  box-shadow: 0px 0px 10px 0px #196086;
  
  .wrong-guess{
    color: rgb(144, 39, 39);
    width: 120px;
    height: 130px;
    border: 4px solid rgb(144, 39, 39);
    border-radius: 10px;
    font-size: 100px;
  }
}

.audio-button{
  font-size: 30px;
  cursor: pointer;
  color: #d4ae16;
}

.final-timer{
  font-size: 100px;
  background-color: rgb(184, 1, 1);
  box-shadow: 0px 0px 15px 0px #d4ae16 inset;
  color: white;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.final-answers {
  background-color: black;
  color: #d4ae16;
  font-family: "LCD", "Helvetica Neue";
  text-transform: uppercase;
  font-size: 50px;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 0px #196086;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

  span:nth-child(odd) {
    text-align: right;
  }
  span:nth-child(even) {
    text-align: left;
  }
}

.final-container{
  display: grid;
  grid-template-rows: 200px 1fr;
  align-self: stretch;
  gap: 20px;
}

.final-questions-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.final-questions{
  background-color: black;
  color: #d4ae16;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.final-question-text{
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

